<h1>{{showElements.title}}</h1>
<br>
<div>
    <div ng-show="showElements.person.view">
        <h3>Person</h3>
        <table>
            <tr ng-show="showElements.id.view">
                <td style="width:100px">Id:</td>
                <td>{{user.Id}}</td>
            </tr>
            <tr ng-show="showElements.initials.view">
                <td>initials:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Initials" ng-show="showElements.initials.edit">
                    <div ng-show="!showElements.initials.edit">{{userDataPersonal.Initials}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.nameprefix.view">
                <td>name prefix:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Nameprefix" ng-show="showElements.nameprefix.edit">
                    <div ng-show="!showElements.nameprefix.edit">{{userDataPersonal.Nameprefix}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.firstname.view">
                <td>first name:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.NameFirst" ng-show="showElements.firstname.edit">
                    <div ng-show="!showElements.firstname.edit">{{userDataPersonal.NameFirst}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.surname.view">
                <td>infix:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.NameInfix" ng-show="showElements.surname.edit">
                <td ng-show="!showElements.surname.edit">{{userDataPersonal.NameInfix}}</td>
            </tr>
            <tr ng-show="showElements.surname.view">
                <td>surname:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.NameLast" ng-show="showElements.surname.edit">
                <td ng-show="!showElements.surname.edit">{{userDataPersonal.NameLast}}</td>
                </td>
            </tr>
            <tr ng-show="showElements.surname.view">
                <td>suffix:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.NameSuffix" ng-show="showElements.surname.edit">
                <td ng-show="!showElements.surname.edit">{{userDataPersonal.NameSuffix}}</td>
            </tr>

            <tr ng-show="showElements.gender.view">
                <td>gender:</td>
                <td>
                    <div><select ng-model="gender.selectedGender" ng-options="gender.gender for gender in gender.availableGender track by gender.id" ng-show="showElements.gender.edit"></select></div>
                    <div ng-show="!showElements.gender.edit">{{userDataPersonal.gender}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.dateofbirth.view">
                <td>date of birth:</td>
                <td>
                    <input type="date" ng-model="userDataPersonal.Birthdate" ng-show="showElements.dateofbirth.edit">
                    <div ng-show="!showElements.dateofbirth.edit">{{userDataPersonal.Birthdate}}</div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="showElements.contact.view">
        <h3>Contact</h3>
        <table>
            <tr ng-show="showElements.address.view">
                <td>Street:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Street" ng-show="showElements.address.edit">
                    <div ng-show="!showElements.address.edit">{{userDataPersonal.Street}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.address.view">
                <td>Number:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Number" ng-show="showElements.address.edit">
                    <div ng-show="!showElements.address.edit">{{userDataPersonal.Number}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.zipcode.view">
                <td>Postal code:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Postalcode" ng-show="showElements.zipcode.edit">
                    <div ng-show="!showElements.zipcode.edit">{{userDataPersonal.Postalcode}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.city.view">
                <td>Place:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.place" ng-show="showElements.city.edit">
                    <div ng-show="!showElements.city.edit">{{userDataPersonal.place}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.city.view">
                <td>Country:</td>
                <td>
                    <input type="text" ng-model="userDataPersonal.Country" ng-show="showElements.city.edit">
                    <div ng-show="!showElements.city.edit">{{userDataPersonal.Country}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.fixedphone.view">
                <td>fixed phone:</td>
                <td>
                    <input type="tel" ng-model="userDataPersonal.PhoneHome" ng-show="showElements.fixedphone.edit">
                    <div ng-show="!showElements.fixedphone.edit">{{userDataPersonal.PhoneHome}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.mobilephone.view">
                <td>mobile phone:</td>
                <td>
                    <input type="tel" ng-model="userDataPersonal.PhoneMobile" ng-show="showElements.mobilephone.edit">
                    <div ng-show="!showElements.mobilephone.edit">{{userDataPersonal.PhoneMobile}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.email.view">
                <td>e-mail:</td>
                <td>
                    <input type="email" ng-model="user.Email" ng-show="showElements.email.edit">
                    <div ng-show="!showElements.email.edit">{{user.Email}}</div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="showElements.financial.view">
        <h3>Financial</h3>
        <table>
            <tr ng-show="showElements.iban.view">
                <td>Iban:</td>
                <td>
                    <input type="text" ng-model="userDataFinancial.iban" ng-show="showElements.iban.edit">
                    <div ng-show="!showElements.iban.edit">{{userDataFinancial.Iban}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.accountholder.view">
                <td>Account holder:</td>
                <td>
                    <input type="text" ng-model="userDataFinancial.accountholder" ng-show="showElements.accountholder.edit">
                    <div ng-show="!showElements.accountholder.edit">{{userDataFinancial.Name}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.accountholder.view">
                <td>Place:</td>
                <td>
                    <input type="text" ng-model="userDataFinancial.Place" ng-show="showElements.accountholder.edit">
                    <div ng-show="!showElements.accountholder.edit">{{userDataFinancial.Place}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.automatictransfer.view">
                <td>Permits automatic transfer:</td>
                <td>
                    <input type="checkbox" ng-model="userDataFinancial.Automatictransfer" ng-show="showElements.automatictransfer.edit">
                    <div ng-show="!showElements.automatictransfer.edit">{{userDataFinancial.Automatictransfer}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.iban.view">
                <td>BIC:</td>
                <td>
                    <input type="text" ng-model="userDataFinancial.Bic" ng-show="showElements.iban.edit">
                    <div ng-show="!showElements.iban.edit">{{userDataFinancial.Bic}}</div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="showElements.study.view">
        <h3>Study</h3>
        <table>
            <tr ng-show="showElements.study.view">
                <td>study:</td>
                <td>
                    <div><select ng-model="studies.selectedStudy" ng-options="study.study for study in studies.availableStudies track by study.id" ng-show="showElements.study.edit"></select></div>
                    <div ng-show="!showElements.study.edit">{{userDataStudy.study}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.studentnumber.view">
                <td>student number:</td>
                <td>
                    <input type="text" ng-model="userDataStudy.studentnumber" ng-show="showElements.studentnumber.edit">
                    <div ng-show="!showElements.studentnumber.edit">{{userDataStudy.studentnumber}}</div>
                </td>
            </tr>
        </table>
        <br>
    </div>
	
    <div ng-show="showElements.misc.view">
        <h3>miscellaneous</h3>
        <table>
            <tr ng-show="showElements.startlevel.view">
                <td>startlevel #todo:</td>
                <td>
                    <div><select ng-model="studies.selectedStudy" ng-options="study.study for study in studies.availableStudies track by study.id" ng-show="showElements.startlevel.edit"></select></div>
                    <div ng-show="!showElements.startlevel.edit">{{userDataMisc.startlevel}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.partner.view">
                <td>partner #todo:</td>
                <td>
                    <div><select ng-model="studies.selectedStudy" ng-options="study.study for study in studies.availableStudies track by study.id" ng-show="showElements.partner.edit"></select></div>
                    <div ng-show="!showElements.partner.edit">{{userDataMisc.partner}}</div>
                </td>
            </tr>

            <tr ng-show="showElements.subscriptiondate.view">
                <td>subscription date:</td>
                <td>
                    <input type="date" ng-model="userDataMisc.subscriptiondate" ng-show="showElements.subscriptiondate.edit">
                    <div ng-show="!showElements.subscriptiondate.edit">{{userDataMisc.subscriptiondate}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.subscriptiondate.view">
                <td>unsubscription date:</td>
                <td>
                    <input type="date" ng-model="userDataMisc.unsubscriptiondate" ng-show="showElements.subscriptiondate.edit">
                    <div ng-show="!showElements.subscriptiondate.edit">{{userDataMisc.unsubscriptiondate}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.groups.view">
                <td>groups #todo:</td>
                <td>
                    <div><select ng-model="studies.selectedStudy" ng-options="study.study for study in studies.availableStudies track by study.id" ng-show="showElements.groups.edit"></select></div>
                    <div ng-show="!showElements.groups.edit">{{userDataMisc.groups}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.username.view">
                <td>username:</td>
                <td>
                    <input type="text" ng-model="userDataMisc.username" ng-show="showElements.username.edit">
                    <div ng-show="!showElements.username.edit">{{userDataMisc.username}}</div>
                </td>
            </tr>

            <tr ng-show="showElements.isanonymous.view">
                <td>is anonymous:</td>
                <td>
                    <input type="checkbox" ng-model="userDataMisc.isanonymous" ng-show="showElements.isanonymous.edit">
                    <div ng-show="!showElements.isanonymous.edit">{{userDataMisc.isanonymous}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.remarks.view">
                <td>remarks:</td>
                <td>
                    <input type="text" ng-model="userDataMisc.remarks" ng-show="showElements.remarks.edit">
                    <div ng-show="!showElements.remarks.edit">{{userDataMisc.remarks}}</div>
                </td>
            </tr>
            <tr ng-show="showElements.photo.view">
                <td>photo:</td>
                <td>
                    <input type="text" ng-model="userDataMisc.photo" ng-show="showElements.photo.edit">
                    <div ng-show="!showElements.photo.edit">{{userDataMisc.photo}}</div>
                </td>
            </tr>
        </table>
    </div>
	<br>
    Dit is de gebruikerData: {{user}} <br />
    UserPersonal: {{userDataPersonal}} <br />
	<input type="submit" ng-value="showElements.confirm.value" ng-show="showElements.confirm.view" ng-click="confirm(user, userDataPersonal)">
	<input type="button" ng-value="showElements.cancel.value" ng-show="showElements.cancel.view" ng-click="cancel()">
</div>